.carousel{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    width: 20rem; 
    height: 19rem; 
    overflow: hidden; 
    gap: 1rem; 
  }
.carousel > div{
  transition: opacity 600ms ease-in-out;
}
  

  @media (min-width: 750px) {
    .carousel{
        width: 100%;
        translate: 320px 0; 
        margin-bottom: 4rem; 
    }
    
  }
