.slider{
    display: flex; 
    justify-content: center;
    gap: .2rem; 
    margin: 2rem 0 3rem; 
}
.button{
    height: 12px; 
    width: 12px; 
    border-radius: 50%; 
    border: solid 2px var(--c-orange); 
    cursor: pointer; 
}

.selected{
    background-color: var(--c-orange)
}

@media (min-width: 750px) {
    .testimonials{
        display: flex; 
        margin: 0 0 3rem; 
        gap: 1rem; 
    }
}