@import "./reset.css";
@import "./variables.css"; 

main{
    font-family: var(--f-primary);
    overflow-x: hidden;
    position: relative; 
}

.pattern{
    position: absolute; 
    z-index: -1; 
}

.pattern1{
    right: -80px;  
    top: -40px;
}

.pattern2{
    top: 500px; 
    right: -200px; 
}

.position1{
  grid-template-areas: 'item1 item2 item3 item4' ;
}
.position1 .item1{
  opacity: 1; 
}
.position1 .item2, .position1 .item3, .position1 .item4{
  opacity: 0; 
}

.position2{
  grid-template-areas: 'item2 item3 item4 item1' ;
}

.position2 .item2{
  opacity: 1; 
}
.position2 .item1, .position2 .item3, .position2 .item4{
  opacity: 0; 
}

.position3{
  grid-template-areas: 'item3 item4 item1 item2' ;
}
.position3 .item3{
  opacity: 1; 
}
.position3 .item2, .position3 .item1, .position3 .item4{
  opacity: 0; 
}

.position4{
  grid-template-areas: 'item4 item1 item2 item3' ;
}
.position4 .item4{
  opacity: 1; 
}
.position4 .item2, .position4 .item1, .position4 .item3{
  opacity: 0; 
}

.item1{
    grid-area: item1; 
  }
  
  .item2{
    grid-area: item2; 
  }
  
  .item3{
    grid-area: item3; 
  }

  .item4{
    grid-area: item4; 
  }

 
@media (min-width: 750px) {
    .pattern1{
        right: -100px; 
        top: -100px; 
    }

    .pattern2{
        top: 1100px; 
        left: -300px; 
    }

    .position1 .item1, .position1 .item2, .position1 .item3, .position1 .item4, .position2 .item1, .position2 .item2, .position2 .item3,.position2 .item4, .position3 .item1, .position3 .item2, .position3 .item3, .position3 .item4, .position4 .item1, .position4 .item2, .position4 .item3, .position4 .item4{opacity: 1 }
}