@import "./reset.css";
@import "./variables.css"; 

main{
    font-family: var(--f-primary);
    overflow-x: hidden;
    position: relative; 
}

.pattern{
    position: absolute; 
    z-index: -1; 
}

.pattern1{
    right: -80px;  
    top: -40px;
}

.pattern2{
    top: 500px; 
    right: -200px; 
}

.item1{
    grid-area: item1; 
  }
  
  .item2{
    grid-area: item2; 
  }
  
  .item3{
    grid-area: item3; 
  }

  .item4{
    grid-area: item4; 
  }

@media (min-width: 750px) {
    .pattern1{
        right: -100px; 
        top: -100px; 
    }

    .pattern2{
        top: 1100px; 
        left: -300px; 
    }
}