.testimonial{
    width: 20rem; 
    height: 18rem; 
    text-align: center; 
    display: flex; 
    align-items: center;
    flex-direction: column; 
    background-color: var(--c-offwhite);
    border-radius: 2px; 
    padding: 0rem 1rem; 
    margin-top: 2rem; 
}

.testimonial img{
    width: 80px;
    translate: 0 -20px; 
}

.name{
    color: var(--c-blue); 
    font-weight: 500;
    font-size: 1.1rem;  
}

.message{
    color: var(--c-gray);
   margin-top: 1rem; 
}

@media (min-width: 750px) {
    .testimonial{
        width: 40rem; 
        padding: 0 3rem; 
    }
}