.navBox{
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    justify-content: space-around;
}

.nav{
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    display: flex; 
    flex-direction: column; 
    gap: .8rem; 
    color: #fff; 
}


.nav li{
    cursor: pointer; 
}
.nav li:hover{
    color: var(--c-orange); 
}

@media (min-width: 750px) {
    .navBox{
        flex-direction: row;
        gap: 8rem; 
    }
    .nav{
        align-items: flex-start;
        gap: 1.5rem;
    }
}